<div id="<%= dom_id cnpj %>">
  <% if action_name != "show" %>
    <%= link_to "Show this cnpj", cnpj, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this cnpj", edit_cnpj_path(cnpj), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
