<div id="<%= dom_id historia_familiar %>">
  <% if action_name != "show" %>
    <%= link_to "Show this historia familiar", historia_familiar, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this historia familiar", edit_historia_familiar_path(historia_familiar), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
