<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New queixa principal</h1>

  <%= render "form", queixa_principal: @queixa_principal %>

  <%= link_to "Back to queixa principals", queixa_principals_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
