<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing telefone</h1>

  <%= render "form", telefone: @telefone %>

  <%= link_to "Show this telefone", @telefone, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to telefones", telefones_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
