<div id="<%= dom_id historia_sexual_reprodutiva %>">
  <% if action_name != "show" %>
    <%= link_to "Show this historia sexual reprodutiva", historia_sexual_reprodutiva, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this historia sexual reprodutiva", edit_historia_sexual_reprodutiva_path(historia_sexual_reprodutiva), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
