<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New historia sexual reprodutiva</h1>

  <%= render "form", historia_sexual_reprodutiva: @historia_sexual_reprodutiva %>

  <%= link_to "Back to historia sexual reprodutivas", historia_sexual_reprodutivas_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
