<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing anamnese</h1>

  <%= render "form", anamnese: @anamnese %>

  <%= link_to "Show this anamnese", @anamnese, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to anamneses", anamneses_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
