<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <div>
        <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
          terapeuta.io
        </p>
      </div>
      <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
        <span class="relative inline-block">
          <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
            <defs>
              <pattern id="70326c9b-4a0f-429b-9c76-792941e326d5" x="0" y="0" width=".135" height=".30">
                <circle cx="1" cy="1" r=".7"></circle>
              </pattern>
            </defs>
            <rect fill="url(#70326c9b-4a0f-429b-9c76-792941e326d5)" width="52" height="24"></rect>
          </svg>
          <span class="relative">FAQ</span>
        </span>
      </h2>
      <p class="text-base text-gray-700 md:text-lg">
        Aqui estão as perguntas mais frequentes a respeito do terapeuta.io
      </p>
    </div>
  </div>
  <div class="max-w-screen-xl sm:mx-auto">
    <div class="grid grid-cols-1 gap-16 row-gap-8 lg:grid-cols-2">
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-medium">
            O que é Terapeuta.io?
          </p>
          <p class="text-gray-700">
            Terapeuta.io é um sistema de CRM (Gestão de Relacionamento com o Cliente) projetado especificamente para terapeutas. Ele oferece funcionalidades como lembretes automáticos de consultas e pagamentos, tanto para pacientes quanto para terapeutas, via WhatsApp e e-mail.<br />
            <br />
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-medium">
            Como funcionam os lembretes de consulta?
          </p>
          <p class="text-gray-700">
            Os pacientes receberão notificações automáticas por WhatsApp e e-mail lembrando-os das próximas consultas, ajudando a reduzir o número de faltas e esquecimentos.<br />
            <br />
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-medium">O sistema envia lembretes de pagamento?</p>
          <p class="text-gray-700">
            Sim. O Terapeuta.io notifica os pacientes sobre os pagamentos devidos, incentivando a pontualidade e a regularidade nos pagamentos das consultas.
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-medium">E se um paciente não efetuar o pagamento?</p>
          <p class="text-gray-700">
            O terapeuta será notificado por WhatsApp e e-mail se um pagamento não for realizado, permitindo um acompanhamento eficiente e a garantia de que nenhum detalhe importante será esquecido.<br />
            <br />
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-medium">O Terapeuta.io se integra a outros softwares?</p>
          <p class="text-gray-700">
            Atualmente, estamos trabalhando na integração com outros sistemas e plataformas populares para oferecer uma experiência ainda mais conectada e eficiente.<br />
            <br />
          </p>
        </div>
      </div>
      <div class="space-y-8">
        <div>
          <p class="mb-4 text-xl font-medium">Existe suporte ao cliente para o Terapeuta.io?</p>
          <p class="text-gray-700">
            Oferecemos suporte dedicado para garantir que qualquer dúvida ou problema seja resolvido rapidamente.<br />
            <br />
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-medium">Como posso começar a usar o Terapeuta.io?</p>
          <p class="text-gray-700">
            Para começar, basta se inscrever em nosso site. Oferecemos um período de teste gratuito para você experimentar todas as funcionalidades.<br />
            <br />
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-medium">Existem planos diferentes?</p>
          <p class="text-gray-700">
            Sim, oferecemos diversos planos para atender às diferentes necessidades e tamanhos de práticas terapêuticas. Visite nossa página de preços para mais informações.<br />
            <br />
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-medium">
            O Terapeuta.io é seguro?
          </p>
          <p class="text-gray-700">
            A segurança dos dados é nossa prioridade. Utilizamos criptografia avançada e seguimos as melhores práticas de segurança para proteger todas as informações armazenadas em nosso sistema.<br />
            <br />
          </p>
        </div>
        <div>
          <p class="mb-4 text-xl font-medium">
            O sistema é fácil de usar?
          </p>
          <p class="text-gray-700">
            Sim! O Terapeuta.io foi projetado para ser intuitivo e fácil de navegar, garantindo que terapeutas de qualquer nível de habilidade tecnológica possam utilizá-lo com facilidade.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>