<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">
      Temos um plano para você
    </h2>

    <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 lg:gap-8">
      <!-- plano 1 - início -->
      <div class="flex flex-col rounded-lg border p-4 pt-6">
        <div class="mb-12">
          <div class="mb-2 text-center text-2xl font-bold text-gray-800">
            Mensal
          </div>

          <p class="mx-auto mb-8 px-8 text-center text-gray-500">
            Para quem quer testar o terapeuta.io
          </p>

          <div class="space-y-2">
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no whatsapp do seu pacientes para lembrar de comparecer a consulta</span>
            </div>
            
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no whatsapp do seu pacientes para lembrar de pagar uma consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no email do seu pacientes para lembrar de pagar uma consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no email do seu pacientes para lembrar de comparecer a consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no seu whatsapp para avisar que um paciente está com pagamento em atrasado</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no seu email para avisar que um paciente está com pagamento em atrasado</span>
            </div>

            <!-- Adicione mais itens aqui -->
          </div>
        </div>

        <div class="mt-auto flex flex-col gap-8">
          <div class="flex items-end justify-center gap-1">
            <span class="self-start text-gray-600">R$</span>
            <span class="text-4xl font-bold text-gray-800">49,90</span>
            <span class="text-gray-500">por mês</span>
          </div>

          <button class="block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">
            Começar com Mensal
          </button>
        </div>
      </div>
      <!-- plano 1 - fim -->

      <!-- Adicione planos 2 e 3 semelhantes aqui -->
      <!-- plano 2 - início -->
      <div class="flex flex-col rounded-lg border-4 border-indigo-500 p-4 pt-6">
        <div class="mb-12">
          <div class="flex inset-x-0 -top-3 flex justify-center">
              <span class="flex h-8 items-center justify-center rounded-full bg-indigo-500 px-3 py-1 text-xs font-semibold uppercase tracking-widest text-white">
                mais popular
              </span>
            </div>
          <div class="mb-2 text-center text-2xl font-bold text-gray-800">
            Anual
          </div>

          <p class="mx-auto mb-8 px-8 text-center text-gray-500">
            Para quem gosta do terapeuta.io
          </p>

          <div class="space-y-2">
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no whatsapp do seu pacientes para lembrar de comparecer a consulta</span>
            </div>
            
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no whatsapp do seu pacientes para lembrar de pagar uma consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no email do seu pacientes para lembrar de pagar uma consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no email do seu pacientes para lembrar de comparecer a consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no seu whatsapp para avisar que um paciente está com pagamento em atrasado</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no seu email para avisar que um paciente está com pagamento em atrasado</span>
            </div>

            <!-- Adicione mais itens aqui -->
          </div>
        </div>

        <div class="mt-auto flex flex-col gap-8">
          <div class="flex items-end justify-center gap-1">
            <span class="self-start text-gray-600">R$</span>
            <span class="text-4xl font-bold text-gray-800">290</span>
            <span class="text-gray-500">por ano</span>
          </div>

          <button class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">
            Começar com Anual
          </button>
        </div>
      </div>
      <!-- plano 2 - fim -->

      <!-- plano 3 - início -->
      <div class="flex flex-col rounded-lg border p-4 pt-6">
        <div class="mb-12">
          <div class="mb-2 text-center text-2xl font-bold text-gray-800">
            Semestral
          </div>

          <p class="mx-auto mb-8 px-8 text-center text-gray-500">
            Para quem gostou do terapeuta.io
          </p>

          <div class="space-y-2">
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no whatsapp do seu pacientes para lembrar de comparecer a consulta</span>
            </div>
            
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no whatsapp do seu pacientes para lembrar de pagar uma consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no email do seu pacientes para lembrar de pagar uma consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no email do seu pacientes para lembrar de comparecer a consulta</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no seu whatsapp para avisar que um paciente está com pagamento em atrasado</span>
            </div>
            <div class="flex gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 text-indigo-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="text-gray-600">Notificações no seu email para avisar que um paciente está com pagamento em atrasado</span>
            </div>

            <!-- Adicione mais itens aqui -->
          </div>
        </div>

        <div class="mt-auto flex flex-col gap-8">
          <div class="flex items-end justify-center gap-1">
            <span class="self-start text-gray-600">R$</span>
            <span class="text-4xl font-bold text-gray-800">149</span>
            <span class="text-gray-500">por semestre</span>
          </div>

          <button class="block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">
            Começar com Semestral
          </button>
        </div>
      </div>
      <!-- plano 3 - fim -->

    </div>

    <div class="text-center text-sm text-gray-500 sm:text-base">
      Ficou com alguma dúvida <button class="text-gray-500 underline transition duration-100 hover:text-indigo-500 active:text-indigo-600">Fale com nossa equipe</button>.
    </div>
  </div>
</div>