<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
        terapeuta.io
      </p>
    </div>
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
      <span class="relative inline-block">
        <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
          <defs>
            <pattern id="b902cd03-49cc-4166-a0ae-4ca1c31cedba" x="0" y="0" width=".135" height=".30">
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect fill="url(#b902cd03-49cc-4166-a0ae-4ca1c31cedba)" width="52" height="24"></rect>
        </svg>
        <span class="relative">Agilize sua Rotina Terapêutica</span>
      </span>
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      Com Terapeuta.io, Dedique Mais Tempo ao que Importa: Seus Pacientes
    </p>
  </div>
  <div class="grid gap-10 lg:grid-cols-4 sm:grid-cols-2">
    <div>
      <div class="flex items-center justify-between mb-6">
        <p class="text-2xl font-bold">Eficiência na Gestão de Consultas</p>
        <svg class="w-6 text-gray-700 transform rotate-90 sm:rotate-0" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
          <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
        </svg>
      </div>
      <p class="text-gray-600">
        Agendamento Simplificado e Lembretes Automáticos
      </p>
      </br>
      <p class="text-gray-600">
        Com o Terapeuta.io, o agendamento de consultas se torna um processo ágil e preciso. Nossa plataforma envia lembretes automáticos via WhatsApp e e-mail, diminuindo significativamente as faltas e esquecimentos dos pacientes. Mais tempo para você se concentrar no que realmente importa: seus pacientes.
      </p>
    </div>
    <div>
      <div class="flex items-center justify-between mb-6">
        <p class="text-2xl font-bold">Gerenciamento Financeiro Integrado</p>
        <svg class="w-6 text-gray-700 transform rotate-90 sm:rotate-0" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
          <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
        </svg>
      </div>
      <p class="text-gray-600">
        Facilitação do Fluxo de Pagamentos
      </p>
      </br>
      <p class="text-gray-600">
        Gerencie os pagamentos de forma eficiente. Nosso sistema notifica os pacientes sobre os pagamentos pendentes e alerta você sobre qualquer inadimplência. Isso significa menos preocupações com a parte financeira e mais foco na prática clínica.
      </p>
    </div>
    <div>
      <div class="flex items-center justify-between mb-6">
        <p class="text-2xl font-bold">Comunicação Direta e Eficaz</p>
        <svg class="w-6 text-gray-700 transform rotate-90 sm:rotate-0" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
          <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
        </svg>
      </div>
      <p class="text-gray-600">
        Comunicação Otimizada com Pacientes
      </p>
      </br>
      <p class="text-gray-600">
        Mantenha uma comunicação eficiente e constante com seus pacientes. O Terapeuta.io facilita o envio de informações importantes, garantindo que tanto você quanto seus pacientes estejam sempre alinhados e informados.
      </p>
    </div>
    <div>
      <div class="flex items-center justify-between mb-6">
        <p class="text-2xl font-bold">Otimizando Seu Tempo e Prática</p>
        <svg class="w-8 text-gray-600" stroke="currentColor" viewBox="0 0 24 24">
          <polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="6,12 10,16 18,8"></polyline>
        </svg>
      </div>
      <p class="text-gray-600">
        Maximizando Seu Potencial Profissional
      </p>
      </br>
      <p class="text-gray-600">
        O Terapeuta.io é mais do que um software de CRM; é uma ferramenta que amplifica seu potencial. Com organização, lembretes, e gerenciamento financeiro simplificado, você pode dedicar mais tempo ao que realmente importa: proporcionar uma terapia eficaz e transformadora.
      </p>
    </div>
  </div>
</div>