<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing revisao habito</h1>

  <%= render "form", revisao_habito: @revisao_habito %>

  <%= link_to "Show this revisao habito", @revisao_habito, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to revisao habitos", revisao_habitos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
