<div id="<%= dom_id profissao %>">
  <% if action_name != "show" %>
    <%= link_to "Show this profissao", profissao, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this profissao", edit_profissao_path(profissao), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
